// colors
$shakespeare: #4CB1CA;
$dove-gray: #656565;
$pelorous: #39A0B9;
$deep-sea-green: #0B4B5A;
$white: #FFFFFF;
$silver: #C5C5C5;
$citron: #7DB122;
$flint: #66625A;
$waikawa-gray: #6171A6;
$mercury: #E5E5E5;
$maroon-flush: #D62440;