@import "../../../style.scss";
.sale {
  &-item {
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    border:2px solid $maroon-flush;
    &__txt {
      font-size: 13px;
      text-align: center;
    }
  }

  &-img {
    margin-bottom: 10px;
    &__picture {
      width: 210px;
      height: 210px;
    }
  }
}